
html, html * {
	padding: 0;
	margin: 0;
    overflow: hidden;
	box-sizing: border-box;
    touch-action: none;
}
body {
    font-family: sans-serif;
    background-color: black;
}
#SCORE{
    position: absolute;
    color: white;
    padding: 8px;
    font-family: sans-serif;
    font-size: 16px;
    user-select: none;
}
#MODAL_RESTART{
    display: none;
}
#MODAL_RESTART, #MODAL_START{
    position: absolute;
    background-color: white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:16px;
    max-width:500px;
    width:100%;
    text-align: center;
    border-radius:5px;
}
#buttonRestart{
    margin-top: 12px; 
    background-color: blue; 
    border: none; 
    color:white; 
    padding:8px 16px;
    cursor: pointer;
}
.ScoreLabel{
    color: white;
    position: absolute;
    user-select: none;
    font-weight: bold;
}
#VOLUME_DIV{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 16px;
}
#VOLUME_ICON, #VOLUME_OFF_ICON, #IMAGE_ICON{
    color: white;
    width: 20px;
    height: 20px;
}
#VOLUME_OFF_ICON
{
    display: none;
}